annotated-types==0.8.0
anyio==4.15.1
asgiref==3.12.1
awscrt==0.36.0
awsebcli==3.27.3
babel==2.18.0
bcrypt==5.0.0
blessed==1.27.0
boto3==1.43.94
botocore==1.43.94
cement==2.10.14
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
courlan==1.4.0
cryptography==50.0.1
dateparser==1.4.3
decorator==5.3.1
Deprecated==1.3.1
distro==1.9.0
Django==6.1.1
django-allauth==65.19.2
django-storages==1.14.6
dotenv==0.9.9
fabric==3.2.2
filelock==3.32.5
grpcio==1.83.1
gunicorn==26.2.0
h11==0.16.0
h2==4.4.1
hpack==4.2.0
htmldate==1.10.0
httpcore==1.0.9
httpcore2==2.12.0
httpx==0.28.1
httpx2==2.12.0
hyperframe==6.1.0
idna==3.19
invoke==3.0.3
jiter==0.16.0
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.1.1
jusText==3.0.2
langchain-core==1.6.2
langchain-openai==1.6.0
langchain-protocol==0.0.19
langchain-qdrant==1.1.0
langchain-text-splitters==1.1.2
langsmith==0.12.2
lxml==6.1.3
lxml_html_clean==0.4.5
numpy==2.5.2
openai==3.8.0
orjson==3.12.0
packaging==26.3
pandas==3.0.5
paramiko==5.0.0
pathspec==0.12.1
portalocker==3.2.0
protobuf==7.36.1
psycopg2-binary==2.9.12
pycparser==3.0
pydantic==2.13.5
pydantic_core==2.46.5
PyJWT==2.13.0
PyNaCl==1.6.2
pypdf==6.17.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-dotenv==1.2.3
pytz==2026.3.post1
PyYAML==6.0.3
qdrant-client==1.19.0
regex==2026.9.3
requests==2.34.2
requests-file==3.0.1
requests-toolbelt==1.0.0
s3transfer==0.19.2
semantic-version==2.10.0
setuptools==84.0.0
six==1.17.0
sniffio==1.3.1
sqlparse==0.6.0
tenacity==9.1.4
termcolor==2.5.0
tiktoken==0.14.0
tld==0.13.2
tldextract==5.3.2
trafilatura==2.2.0
truststore==0.10.4
typing-inspection==0.4.4
typing_extensions==4.16.0
tzlocal==5.4.4
urllib3==2.7.0
uuid_utils==0.17.0
wcwidth==0.2.14
websockets==17.1
wrapt==2.4.1
xxhash==4.0.1
yt-dlp==2026.8.19
zstandard==0.25.0
